[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
pytest-watch = "*"
pytest-bdd = "*"
pytest-splinter = "*"
tddhome-python-pytest-web = {editable = true, path = "."}
selenium = "*"

[dev-packages]

[requires]
python_version = "3.7"
