[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argh = "*"
atomicwrites = "*"
attrs = "*"
colorama = "*"
docopt = "*"
more-itertools = "*"
pathtools = "*"
pluggy = "*"
py = "*"
pytest = "*"
pytest-watch = "*"
six = "*"
watchdog = "*"
PyYAML = ">4.2b1"
tddhome-python-pytest = {editable = true,path = "."}
pyreadline = "*"
mypy = "*"
flake8 = "*"

[dev-packages]
